<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard - File Storage System</title>
    <link rel="stylesheet" href="styles.css">
    <style>
        form {
            max-width: 300px;
            margin: 0 auto;
        }

        label {
            display: block;
            margin-bottom: 5px;
        }

        input {
            width: 100%;
            padding: 5px;
            margin-bottom: 10px;
            box-sizing: border-box;
        }

        button {
            padding: 10px 15px;
            background-color: #007bff;
            color: white;
            border: none;
            cursor: pointer;
        }
    </style>
</head>

<body>
    <div class="container">
        <h1>Create User</h1>
    
        <form id="createUserForm" onsubmit="return validateForm()">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>
    
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
    
            <label for="confirmPassword">Confirm Password:</label>
            <input type="password" id="confirmPassword" name="confirmPassword" required>
    
            <label for="role">Role:</label>
            <select id="role" name="role" required>
                <option value=""></option>
                <option value="User">User</option>
                <option value="Admin">Admin</option>
            </select>
    
            <button type="submit">Create User</button>
        </form>

        <script>
            function validateForm() {
                const password = document.getElementById('password').value;
                const confirmPassword = document.getElementById('confirmPassword').value;
                
                if (password !== confirmPassword) {
                    alert("Passwords do not match. Please enter the same password.");
                    return false;
                }
                return true;
            }
        </script>
        <a href="/admin/dashboard" class="back-button">Back to Dashboard</a>
    </div>
</body>

</html>